@import url('https://fonts.googleapis.com/css?family=Roboto:200,400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,300');

header {
	height: 100%;
	width: 100%;
	overflow: hidden;
	border-bottom-style: solid;
	border-width: 3px;
	border-color: #1d1d1d;
}

p {
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	font-weight: 200;
	margin: 0px;
}

h1 {
	font-size: 75px; 
	font-weight: 400;
	letter-spacing: -2px;
}

h2 {
	font-size: 1.6em;
	font-weight: 400; 
	line-height: 1.3;
}

svg {
	display: inline;
	vertical-align: bottom;
}

a:hover svg {
	stroke: #00ba00;
}

a:hover {
	color: #00ba00;
}

#about a[href^="mailto"] { 
	color: black; 
}

#about a[href^="mailto"]:hover { 
	color: #00ba00; 
}

.flex-row-display {
	display: flex;
	flex-direction: row;
}

.hidden-wide {
	display: none;
}

.hidden-nar {
	display: inline;
}

@media(min-width: 1330px) {
	.hidden-nar {
		display: none;
	}
	.hidden-wide {
		display: block;
	}
}

.header-container {
	background: url(../img/background.png) no-repeat right center;
	background-size: cover;
	height: 100%;
	width: 100%;
	position: relative;
	display: flex;
	align-items: center;
}

#title-img {
	width: auto;
	height: 90%;
	max-width: 90%;
	object-fit: contain;
	object-position: 100% 0px;
	position: absolute;
	bottom: -20px;
	right: 10%;
}

#intro-text {
	display: inline-block;
	vertical-align: middle;
	margin-left: 5%;
}

#intro-text h1, h2 {
	font-family: 'Roboto', sans-serif;
	color: #1d1d1d;
}

#intro-text h1 {
	margin: 0.2em 0;
}

#sm-container {
	position: absolute;
	bottom: 0;
	width: 100%;
	margin-bottom: 10px;
}

.sm-icon {
	float: right;
	font-size: 25px;
	color: #ffffff;
	margin-right: 10px;
}

/*---------------------
Banner section
---------------------*/

#stf p {
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.container {
	background-color: #f2f2f2;
	box-shadow: inset 0px 5px 5px -5px rgba(68, 68, 68, 0.75);
	padding: 20px 5%;
	position: relative;
	overflow: hidden;
}

.content {
	background-color: #f2f2f2;
	/*box-shadow: inset 0px 0px 7px rgba(68, 68, 68, 0.75);*/
	padding: 20px 5%;
}

.content-box {
	width: 32.5%;
	/*display: inline-block;*/
	position: relative;
	float: left;
	vertical-align: middle;
	border-radius: 2px;
	border-width: 0px;
	box-shadow: 0px 0px 5px rgba(68, 68, 68, 0.6);
	margin-right: 1.25%;
	overflow: hidden;
	text-align: right;
}

.banner-header {
	padding: 40px 7.5% 40px 45%;
	cursor: pointer;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.content-box h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 50px; 
	font-weight: 400;
	letter-spacing: -2px;
	color: #1d1d1d;
}

/* Non-JS collapsible support */

label {
	cursor: pointer;
}

input[type='checkbox'] {
	display: none;
}

.lbl-toggle.nojs {
	display: block;
}

.toggle.nojs:checked + .lbl-toggle.nojs + .collapsible-content.nojs {
  max-height: 350px;
}

/******************************/

#profile-banner {
	background: url(../img/banner-profile.png) no-repeat left center, 
	url(../img/banner-profile-end.png) no-repeat right center,
	url(../img/white.jpg) repeat left top;
	background-size: contain;
}

#skills-banner {
	background: url(../img/banner-skills.png) no-repeat left center, 
	url(../img/banner-skills-end.png) no-repeat right center,
	url(../img/white.jpg) repeat left top;
	background-size: contain;
}

#projects-banner {
	background: url(../img/banner-projects.png) no-repeat left center, 
	url(../img/banner-projects-end.png) no-repeat right center,
	url(../img/white.jpg) repeat left top;
	background-size: contain;
}

@media(max-width: 1450px) and (min-width: 1001px) {
	.content-box h3 {
		font-size: 35px;
	}

	.content-box p {
		font-size: 15px;
	}

	.banner-header {
		padding: 30px 7.5% 30px 45%;
	}

	#profile-banner {
		background: url(../img/banner-profile-small.jpg) no-repeat left center, 
		url(../img/banner-profile-end.png) no-repeat right center,
		url(../img/white.jpg) repeat left top;
		background-size: contain;
	}

	#skills-banner {
		background: url(../img/banner-skills-small.jpg) no-repeat left center, 
		url(../img/banner-skills-end.png) no-repeat right center,
		url(../img/white.jpg) repeat left top;
		background-size: contain;
	}

	#projects-banner {
		background: url(../img/banner-projects-small.jpg) no-repeat left center, 
		url(../img/banner-projects-end.png) no-repeat right center,
		url(../img/white.jpg) repeat left top;
		background-size: contain;
	}
}

@media(max-width: 1000px) {
	.content-box {
		float: none;
		width: 100%;
		margin-bottom: 20px;
	}
}

.content-box-seperator {
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}

.collapsible-content {
	background-color: #ffffff;
	max-height: 0;
	overflow: hidden;
	transition: max-height .2s ease;
	text-align: left;
}

.collapsible-content.nojs {
	background-color: #ffffff;
	max-height: 0;
	overflow: hidden;
	transition: max-height 1s linear;
}

.collapsible-content ul {
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #1d1d1d;
	background-color: #ffffff;
	padding: 20px 15% 40px 15%;
	margin: 0px;
	list-style-type: none;
}

.collapsible-content li {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: left;
	margin-bottom: 15px;
}

.collapsible-content i {
	display: inline-block;
	text-align: center;
	font-size: 25px;
	color: #d1d1d1;
	margin-right: 28px;
	width: 25px;
}

.collapsible-content p {
	display: inline-block;
}

.collapsible-content .subheader {
	flex-shrink: 0;
	width: 80px;
	margin-right: 10px;
	text-align: center;
}

.collapsible-content .subheader p {
	color: #aaaaaa;
	margin-top: 3px;
	text-align: center;
	font-size: 13px;
	font-weight: 400;
}

.collapsible-content .subheader i {
	width: auto;
	font-size: 25px;
	display: block;
	text-align: center;
	margin: 0px;
}

.collapsible-content h4 {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 400;
	display: inline-block;
	margin: 15px 0px;
}

.header i {
	font-size: 30px;
	margin-right: 10px;
}

.text {
	text-align: right;
	margin-top: 0px;
	margin-bottom: 0px;
	overflow: hidden;
}

.dropdown-icon {

	position: absolute;
	bottom: -5px;
	right: 50%;
	margin-right: -20px;
}

.lbl-toggle:hover .dropdown-icon {
	animation: bounce 0.8s infinite;
}



/* Dropdown icon hover animation */
@keyframes bounce {
	0% {bottom: -5px;}
	70% {bottom: 0px;}
	100% {bottom: -5px}
}

/*-----------------------------*/

/*------------------
Website references
-------------------*/

.flex-content {
	background-color: #f2f2f2;
	padding: 20px 5%;
	display: flex;
	flex-direction: row;
}

#stf-website, #az-website {
	width: 100%;
	height: auto;
	border-color: #f2f2f2;
	border-radius: 1px;
	border-width: 0px;
	display: block;
	/*box-shadow: 0px 0px 7px rgba(68, 68, 68, 0.6);*/
}

.overlay-container {
	position: relative;
	width: 100%;
	margin-right: 15px;
	cursor: pointer;
}

.overlay {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	overflow: hidden;
	height: 100%;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.85);
	border-radius: 1px;
	border-width: 0px;
	opacity: 0;
	transition: .4s ease;
	display: flex;
	align-items: center;
}

.overlay-container:hover .overlay {
	opacity: 1;
}

.overlay-text {
	margin: 30px;
	text-align: justify;
	font-weight: 400;
}

a:hover .overlay {
	color: black;
}

.section-heading {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 30px;
	text-align: center;
	margin-bottom: 20px;
}

/*
--------------------
Footer
--------------------
*/

#contact {
	background-color: #1d1d1d;
}

.contact {
	padding: 20px;
}

.contact * {
	font-family: 'Roboto', sans-serif;
	color: #f2f2f2;
	font-size: 20px;
	text-align: center;
}

.contact p {
	margin-top: 15px;
	font-weight: 200;
	cursor: pointer;
}

.contact h4 {
	font-size: 25px;
	font-weight: 400;
	margin: 0px;
}

.contact svg {
	margin-right: 0.5em;
}

footer {
	background-color: #ffffff;
	padding: 10px;
}

footer p {
	font-family: 'Roboto Mono', monospace;
	font-weight: 300;
	font-size: 20px;
	color: #1d1d1d;
	vertical-align: middle;
	text-align: left;
	display: inline;
}

#joke {
	float: right;
}

/*
-----------------
General modification
-----------------
*/

.feather-64 {
	width: 64px;
	height: 64px;
}

.feather-40 {
	width: 40px;
	height: 40px;
}

.last {
	margin-right: 0px;
}

.last-bottom {
	margin-bottom: 0px;
}

.placeholder {
	height: 250px;
	background-color: #e3e3e3;
	box-shadow: inset 0px 3px 10px rgba(68, 68, 68, 0.6);
}