@import url('https://fonts.googleapis.com/css?family=Roboto:200,400,700');

header {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

p {
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	font-weight: 200;
}

h1 {
	font-size: 75px; 
	font-weight: 400;
	letter-spacing: -2px;
}

h2 {
	font-size: 1.6em;
	font-weight: 400; 
	line-height: 1.3;
}

.flex-row-display {
	display: flex;
	flex-direction: row;
}

.hidden-wide {
	display: none;
}

.hidden-nar {
	display: inline;
}

@media(min-width: 1330px) {
	.hidden-nar {
		display: none;
	}
	.hidden-wide {
		display: block;
	}
}

.header-container {
	background: url(../img/background.png) no-repeat right center;
	background-size: cover;
	height: 100%;
	width: 100%;
	position: relative;
	display: flex;
	align-items: center;
}

#title-img {
	width: auto;
	height: 90%;
	max-width: 90%;
	object-fit: contain;
	object-position: 100% 0px;
	position: absolute;
	bottom: -20px;
	right: 10%;
}

#intro-text {
	display: inline-block;
	vertical-align: middle;
	margin-left: 5%;
}

#intro-text h1, h2 {
	font-family: 'Roboto', sans-serif;
	color: #1d1d1d;
}

#intro-text h1 {
	margin: 0.2em 0;
}

#sm-container {
	position: absolute;
	bottom: 0;
	width: 100%;
	margin-bottom: 10px;
}

.sm-icon {
	float: right;
	font-size: 25px;
	color: #ffffff;
	margin-right: 10px;
}

.section-title {
	width: 100%;
	padding: 5px 5%;
	background-color: #ffffff;
}

.section-title h3 {
	font-size: 40px;
	font-weight: 700;
	font-family: 'Roboto', sans-serif;
  	color: #3581fc;
}

.flex-content {
	background-color: #f2f2f2;
	/*box-shadow: inset 0px 0px 7px rgba(68, 68, 68, 0.75);*/
	padding: 20px 5%;
	display: flex;
	flex-direction: row;
}

.container {
	background-color: #f2f2f2;
	/*box-shadow: inset 0px 0px 7px rgba(68, 68, 68, 0.75);*/
	padding: 20px 5%;
	position: relative;
	overflow: hidden;
}

.content {
	background-color: #f2f2f2;
	/*box-shadow: inset 0px 0px 7px rgba(68, 68, 68, 0.75);*/
	padding: 20px 5%;
}

.content-box {
	width: 26.5%;
	/*display: inline-block;*/
	position: relative;
	float: left;
	vertical-align: top;
	background-color: #ffffff;
	border-radius: 2px;
	border-width: 0px;
	box-shadow: 0px 0px 5px rgba(68, 68, 68, 0.6);
	padding: 40px 3%;
	margin-right: 1.25%;
	cursor: pointer;
	overflow: hidden;
}

.content-box:hover {
	/*box-shadow: 0px 0px 7px rgba(68, 68, 68, 0.6);*/
}

.content-box-seperator {
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}

.collapsible-content {
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.25s linear;
}

.text {
		text-align: left;
		margin-top: 0px;
		margin-bottom: 0px;
		overflow: hidden;
}

.icon-wrapper {
	text-align: center;
	margin-bottom: 20px;
}

.dropdown-icon {
	position: absolute;
	bottom: -10px;
	right: 2px;
	background-color: #ffffff;
}

@media(min-width: 1330px) {
	.content-box {
		/*display: flex;
		flex-direction: row;*/
	}

	.content-box-seperator {
		position: relative;
	}

	.content-icon {
		position: relative;
		left: 0px;
		margin-bottom: 0.5em;
	}

	.icon-wrapper {
		margin-right: 40px;
		margin-bottom: 0px;
		text-align: center;
		float: left;
		height: 100%;
	}
}

#stf-website, #az-website {
	width: 100%;
	height: auto;
	border-color: #f2f2f2;
	border-radius: 1px;
	border-width: 0px;
	box-shadow: 0px 0px 7px rgba(68, 68, 68, 0.6);
}

#stf-website:hover, #az-website:hover {
	box-shadow: 0px 0px 7px rgba(68, 68, 68, 0.75);
}

.overlay-container {
	position: relative;
	width: 100%;
	margin-right: 10px;
	cursor: pointer;
}

.overlay {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.85);
	border-radius: 1px;
	opacity: 0;
	transition: .4s ease;
	display: flex;
	align-items: center;
}

.overlay-container:hover .overlay {
	opacity: 1;
}

.overlay-text {
	margin: 30px;
	text-align: justify;
}

.section-heading {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 30px;
	text-align: center;
	margin-bottom: 20px;
}

/*
-----------------
General modification
-----------------
*/

.feather-64 {
	width: 64px;
	height: 64px;
}

.last {
	margin-right: 0px;
}

.placeholder {
	height: 250px;
	background-color: #e3e3e3;
	box-shadow: inset 0px 3px 10px rgba(68, 68, 68, 0.6);
}